<%= form_for @map,remote: true do |f| %>

    <div class="search-form-group">
      <%= f.label :location %><br />
      <%= f.text_field :location, placeholder: "e.g. Portland, OR", autofocus: true %>
    </div>
    <div class="search-form-group">
      <%= f.label :title %><br />
      <%= f.text_field :title, placeholder: "e.g. Gone in 60 Seconds" %>
    </div>

    <div><%= f.submit "Search Locations" %></div>
<% end %>
