<div class="tagline">
  <h3>Find where your favorite production has filmed!</h3>
</div>



<div class="row">

  <div class="large-4 columns">
    <div class="search_form">
      <%= render 'maps/form' %>
    </div>
    <div id="search_results">
      <div class="transparent"></div>
      <div class="opaque">
        <div class="results_list">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <!-- <p id="search_term">Results for: <span>"<%= @map.location %>"</span></p> -->

          <p id="search_term">Recent entries:</p>
          <ul>
            <% @locations.each do |location| %>
              <li><a href="javascript:void(0);" data-lat="<%= location.latitude %>" data-lon="<%= location.longitude %>" data-movtitle="<%= location.title %>"><%= location.title %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="newmap" class="large-8 columns">
    <div id="loader"></div>
    <div id="map"></div>
  </div>


</div>


<script type="text/javascript">

  $(document).ready(function() {

      var mapStyle = [{featureType:'water',elementType:'all',stylers:[{hue:'#252525'},{saturation:-100},{lightness:-81},{visibility:'on'}]},{featureType:'landscape',elementType:'all',stylers:[{hue:'#666666'},{saturation:-100},{lightness:-55},{visibility:'on'}]},{featureType:'poi',elementType:'geometry',stylers:[{hue:'#555555'},{saturation:-100},{lightness:-57},{visibility:'on'}]},{featureType:'road',elementType:'all',stylers:[{hue:'#777777'},{saturation:-100},{lightness:-6},{visibility:'on'}]},{featureType:'administrative',elementType:'all',stylers:[{hue:'#cc9900'},{saturation:100},{lightness:-22},{visibility:'on'}]},{featureType:'transit',elementType:'all',stylers:[{hue:'#444444'},{saturation:0},{lightness:-64},{visibility:'off'}]},{featureType:'poi',elementType:'labels',stylers:[{hue:'#555555'},{saturation:-100},{lightness:-57},{visibility:'off'}]}]
;


    $('.results_list li a').on('click', function() {
      movLat = $(this).data('lat');
      movLon = $(this).data('lon');
      movTitle = $(this).data('movtitle');

        var marker = handler.addMarker({
          lat: $(this).data('lat'),
          lng: $(this).data('lon'),
          picture: {
            url: "http://s10.postimg.org/l2pegvv2t/filmtastic_icon40.png",
            width:  36,
            height: 36
          },
          infowindow: movTitle = $(this).data('movtitle')
        });
       handler.map.centerOn(marker);



      /*


      var handler = Gmaps.build('Google');
      handler.buildMap({
         internal: {
          id: 'map'},
         provider: {
           zoom:      15,
           center:    new google.maps.LatLng(movLat, movLon),
           styles: mapStyle,
           mapTypeId: google.maps.MapTypeId.ROADMAP
         }
       },
       function() {
        // markers = handler.addMarkers(<%= raw @hash.to_json %>);
        // console.log('lat: '+movLat +' lng: '+movLon+' infowindow: ' + movTitle)
        markers = handler.addMarkers({
          'lat':movLat,
          'lng':movLon,
          'picture': {
          'url': 'http://s10.postimg.org/l2pegvv2t/filmtastic_icon40.png',
          'width':  36,
          'height': 36
          },
        });
        handler.bounds.extendWith(markers);
        handler.resetBounds();
       });
    */

    });





    function buildMap(lat, lon) {

      handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
          styles: mapStyle
        },
        internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });

      $('#loader').delay(200).fadeToggle('slow');
    };


    function showPosition(position) {
      lat = position.coords.latitude
      lon = position.coords.longitude

      buildMap(lat, lon)
    };

    navigator.geolocation.getCurrentPosition(showPosition);

  });


</script>
