<div class="tagline">
  <h3>Find where your favorite production has filmed!</h3>
</div>



<div class="row">

  <div class="large-4 columns">
    <div class="search_form">
      <%= render 'maps/form' %>
    </div>
    <div id="search_results">
      <div class="transparent"></div>
      <div class="opaque">
        <div class="results_list">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <!-- <p id="search_term">Results for: <span>"<%= @map.location %>"</span></p> -->

          <p id="search_term">Recent entries:</p>
          <ul>
            <% @locations.each do |location| %>
              <li><a href="javascript:void(0);" data-lat="<%= location.latitude %>" data-lon="<%= location.longitude %>" data-movtitle="<%= location.title %>"><%= location.title %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="newmap" class="large-8 columns">
    <div id="loader"></div>
    <div id="map"></div>
  </div>


</div>


<script type="text/javascript">

  $(document).ready(function() {

    $('.results_list li a').on('click', function() {
      lat = $(this).data('lat');
      lon = $(this).data('lon');
      movTitle = $(this).data('movtitle');

      var handler = Gmaps.build('Google');
      handler.buildMap({
         internal: {id: 'map'},
         provider: {
           zoom:      15,
           center:    new google.maps.LatLng(lat, lon),
           // style: mapStyle,
           mapTypeId: google.maps.MapTypeId.ROADMAP
         }
       },
       function(){ }
      );
    });





    function buildMap(lat, lon) {

      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });

      $('#loader').delay(200).fadeToggle('slow');
    };


    function showPosition(position) {
      lat = position.coords.latitude
      lon = position.coords.longitude

      buildMap(lat, lon)
    };

    navigator.geolocation.getCurrentPosition(showPosition);

  });


</script>
